<div *ngIf="config; else loader" class="container">

  <div class="row text-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          General
        </div>
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <div class="d-flex flex-row justify-content-start align-items-start">
              <input class="form-control form-control-sm" [(ngModel)]="config.name"
                     placeholder="Configuration name">
            </div>

          </li>


        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          Wifi Settings
        </div>
        <li class="list-group-item">
          <div class="d-flex flex-row justify-content-start align-items-start">
            <mat-slide-toggle style="margin-right: 10px;" [(ngModel)]="config.wifiConnection.enabled">wifi
            </mat-slide-toggle>
            <input class="form-control form-control-sm" style="margin-right: 5px;" [(ngModel)]="config.wifiConnection.name"
                   placeholder="network name">
            <input class="form-control form-control-sm" [(ngModel)]="config.wifiConnection.password" placeholder="password">
          </div>

        </li>

      </div>
    </div>


    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Alert notification methods
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <mat-slide-toggle style="margin-right: 10px;" [(ngModel)]="config.alertMethods.sms.enabled">SMS
              </mat-slide-toggle>
              <input class="form-control form-control-sm" [(ngModel)]="config.alertMethods.sms.number"
                     placeholder="Your phone number">
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex flex-row justify-content-start align-items-start">
              <mat-slide-toggle style="margin-right: 10px;" [(ngModel)]="config.alertMethods.email.enabled">Email
              </mat-slide-toggle>
              <input class="form-control form-control-sm" [(ngModel)]="config.alertMethods.email.email"
                     placeholder="Your email">
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex flex-row justify-content-start align-items-start">
              <mat-slide-toggle style="margin-right: 10px;" [(ngModel)]="config.alertMethods.sendAlertsFromServer">Send
                alerts from server
              </mat-slide-toggle>

            </div>
          </li>

          <li class="list-group-item">
            <div class="d-flex flex-row justify-content-start align-items-center">
              <mat-slide-toggle style="margin-right: 10px;" [(ngModel)]="config.alertMethods.sendAlertsFromUnit">Send
                alerts from unit
              </mat-slide-toggle>

            </div>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Temperature Settings
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex flex-row justify-content-start align-items-start">
              <mat-slide-toggle style="margin-right: 10px;" [(ngModel)]="config.cpuTemp.enabled">CPU Temp
              </mat-slide-toggle>
              <input class="form-control form-control-sm" style="margin-right: 5px;" [(ngModel)]="config.cpuTemp.min"
                     placeholder="LOWER THAN">
              <input class="form-control form-control-sm" [(ngModel)]="config.cpuTemp.max" placeholder="UPPER THAN">
            </div>

          </li>

          <li class="list-group-item">
            <div class="d-flex flex-row justify-content-start align-items-start">
              <mat-slide-toggle style="margin-right: 10px;" [(ngModel)]="config.lowBat.enabled">Low bat
              </mat-slide-toggle>
              <input class="form-control form-control-sm" [(ngModel)]="config.lowBat.value"
                     placeholder="Notify when bat is lower then">
            </div>

          </li>

        </ul>
      </div>
    </div>


    <!--   Related units  -->

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Related units
        </div>
        <div class="card-body">
          <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
            <mat-chip (click)="unit.selected = !unit.selected;" cdkDrag *ngFor="let unit of units"
                      class="{{unit.selected ? 'bg-success text-white':''}}  ">
              {{unit.name}} ({{unit.unitId}})
            </mat-chip>
          </mat-chip-list>
        </div>

      </div>
    </div>
  </div>

  <div class="row mt-4">
    <button class="btn btn-sm btn-primary mr-2" (click)="save()">{{isNew ? 'Create Config' : 'Save Changes'}}</button>
    <button *ngIf="!isNew" class="btn btn-sm btn-danger" (click)="delete()">Delete Configuration</button>
  </div>

</div>


<ng-template #loader>
  <div class="d-flex flex-column align-items-center justify-content-center"
       style="height: 100%; width: 100%;">
    <mat-spinner></mat-spinner>


  </div>
</ng-template>
