<form [formGroup]="myForm" (ngSubmit)=" Submit()">
  <div class="row">


      <div class="col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input" >
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Email">
        </div>
      </div>
    <div class="col-md-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input" >
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="call">
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input" >
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="sms">
      </div>
    </div>



  </div>
  <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="max temp">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="min battery">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">submit</button>
        </div>

      </div>
</form>

<table class="table table-hover mt-4" >
  <thead>
  <tr>

    <th>Name</th>
    <th (click)="setSort('createdAt')">Created <mat-icon>{{getSortIcon('createdAt')}}</mat-icon></th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let i of items">
    <th>{{i.name}}</th>
    <th>{{i.createdAt | date:'dd.MM.yyyy HH:mm'}}</th>

  </tr>
  </tbody>
</table>
