<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">External Voltage</th>
    <th scope="col">Unit RSSI</th>
    <th scope="col">Voltage</th>
    <th scope="col">Network Connection</th>
    <th scope="col">Cpu Temp</th>
    <th scope="col">Sns Temp</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of scanHistory">
    <th>{{i.createdAt | date:'dd.MM.yyyy HH:mm'}}</th>
    <th>{{i.isExtVoltageOn}}</th>
    <th>{{i.unitRSSI}}</th>
    <th>{{i.voltage}}</th>
    <th>{{i.netCon}}</th>
    <th>{{i.cpuTemp}}</th>
    <th>{{i.snsTemp}}</th>
    <th></th>
  </tr>

  </tbody>
</table>


<div class="row text-center">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>

