<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

</head>
<body>
<div class="container d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column justify-content-center align-items-center my-card bg-white p-4"
       style="margin-top: 15%; width: 50%">


    <div class="row">
      <div class="col text-center">
        <img src="/assets/g-tag-logo.png">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col text-center">
        <h4>G-Tag</h4>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col">
        <input [(ngModel)]="email" class="form-control" placeholder="Email">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <input (keydown.enter)="login()" [(ngModel)]="pasword" class="form-control" placeholder="Password">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <button class="btn btn-success" (click)="login()">Login</button>
      </div>
      <div class="col">
        <button class="btn btn-success" (click)="register()">Register</button>
      </div>
    </div>
    <div class="form-group">
      <div>
        <button (click)="forgotPasswordClicked  = true;" type="submit" class="btn btn-outline-primary btn-block mt-2">
          Forgot
          Password
        </button>
      </div>

      <div *ngIf="forgotPasswordClicked" class="d-flex flex-column">
        <input [(ngModel)]="forgotEmail" class="form-control mt-3" placeholder="please enter your email">
        <button (click)="forgotPassword()" class="btn btn-outline-primary btn-block mt-2">Send</button>
      </div>
    </div>
  </div>


</div>

</body>

